/*##### GAME #########*/

.game{
    padding-bottom: 40px;
    background: #2D2E32;
    text-align: center;
}

#select-level{
    text-align: center;
    top: 150px;
    width: 100%;
    z-index: 100;
    position: absolute;

}

h2.game-title {
    background-color: rgba(45,46,50,0.8);
    border-radius: 5px;
    color: whitesmoke;
    display: inline-block;
    padding: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.game-area {
    height: 500px;
    width: 900px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: solid 5px #2D2E32;
    border-radius: 5px;

    background-image: url("../images/gameArea.jpg");
    background-size: cover;
}

#score-info {
    width: 100%;
    border-bottom:solid 5px #2D2E32;
}

.speaker{
    z-index: 100;
    position: absolute;
    top: 40px;
}

#speaker-1,
#tune-1{
    left: 120px;
}

#speaker-2,
#tune-2{
    left: 426px;
}

#speaker-3,
#tune-3{
    left: 730px;
}

.tune {
    position: absolute;
    top: 90px;
}

#music-folder{
    top:395px;
    position: absolute;
}

#floor{
    border-top:solid 5px #2D2E32;
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 100%;
    bottom: 0;
}

/*Ztracone punkty kciuk w dół*/
.thumb-down,
.thumb-up{
    position: absolute;
    width: 15%;
}

#thumb-down-1,
#thumb-up-1{
    left: 80px;
}

#thumb-down-2,
#thumb-up-2{
    left: 386px;
}

#thumb-down-3,
#thumb-up-3{
    left: 690px;
}

#thumb-up-1,
#thumb-up-2,
#thumb-up-3,
#thumb-down-1,
#thumb-down-2,
#thumb-down-3{
    display: none;
}



@media all and (max-width: 1170px) {
    #start-game{
        display: none;
    }
}