/*### Wspólne style ### */


/*### DOROTA ### feature-navi ### Pasek Nawigacyjny (FIXED) */

.logo{
    padding: 0;
    margin: 0;
    width: 50px;
}

ul.nav.navbar-nav.navbar-right {
    height: 100%;
    margin-top: 0.5em;
}

section{
    padding-top: 64px;
}

@media all and (max-width: 283px){
    section{
        padding-top: 112px;
    }
}

nav.navbar.navbar-default.navbar-fixed-top{
    margin: 0 auto;
}

.navbar{
    background: #2D2E32;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f5f5f5;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f5f5f5;
}

.navbar-brand{
    height: 100%;
    padding: 0.5em;
    text-align: center;
    line-height: normal;
    font-size: 2em;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
    font-size: 14px;
}

.navbar-default .navbar-toggle {
    border-color: #FE0000;
}

.navbar-brand > img{
    float: left;
}

/*### DOROTA ### feature-sneakpeak ### Tzw. Zajawka*/
.parallax{
    background: url("../images/music-sound.jpg") no-repeat center fixed;
    background-size: cover;
}

.jumbotron .container-fluid{
    max-width: 100%;
}

.jumbotron{
    padding: 0;
    margin-bottom: 0;
}

.flash{
    background: rgba(255,255,255,0.3);
    padding: 1em;
    font-size: 30px;
    color: #2D2E32;
}

.inner{
    color: #ffffff;
}

.top{
    font-size: 50px;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.bottom{
    text-align: center;
    margin-bottom: 1em;
}

button.btn.btn-success.btn-lg{
    font-size: 40px;
    font-weight: bold;
    padding: 20px 25px;
    color: #FE0000;
    background: #2D2E32;
    border-color: #FE0000;
}

/*### ERYK ### feature-functions ### Spis planowanych funkcji*/

/*### ERYK ### feature-signin ### Zapis na premiera - formularz -*/

/*### PIOTREK ### feature-team ### Informacja o zespole*/
.team{
    background-image: url("../images/team-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;

}

.three-foto{
    margin-top: 40px;
}

h2.team-title {
    background-color: rgba(45,46,50,0.8);
    border-radius: 5px;
    color: whitesmoke;
    display: inline-block;
    padding: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
}

p.member-name {
    background-color: rgba(45,46,50,0.8);
    border-radius: 5px;
    color: whitesmoke;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

.social,
.member{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-social{
    background-color: rgba(45,46,50,0.8);
    border: none;
}

button.btn-social:hover{
    background: rgba(45,46,50,0.8);
}

.fa.fa-linkedin,
.fa.fa-github {
    font-size: 20px;
    color: #f5f5f5;
    padding: 6px;
}

.fa.fa-linkedin:hover{
    color: #0077B5;
}

.fa.fa-github:hover {
    color: #6e5494;
}

.member-foto {
    display: block;
    margin: auto;
    box-sizing: border-box;
    border: 0.7em solid;
    border-color: rgba(45,46,50,0.8);
}

/*### PIOTREK ### feature-product ### Dodatkowe informacje o produkcie */
.product {
    padding-bottom: 40px;
    background: #2D2E32;
    text-align: center;
}


h2.product-info-header {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
}

.fa.fa-shopping-cart,
.fa.fa-headphones,
.fa.fa-film,
.fa.fa-toggle-right,
.fa.fa-cog,
.fa.fa-calendar{
    font-size: 70px;
}

/*### DOROTA ### feature-navi ### Pasek Nawigacyjny (FIXED) */

/*Paleta kolorów{*/
/*background: #ACAEBA;*/
/*background: #2D2E32;*/
/*background: #FE0000;*/
/*background: #4D586A;*/
/*}*/

/*Zapis na premierę - formularz*/
.form-contact
{
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4D586A;
    color: white;
}

.form-contact-messege
{
    background-color: #4D586A;
}

.text-form
{
    text-align: center;
    color:white;
    font-size: 16px;
    font-weight: bold;
}

.form-control.send
{
    text-align: center;
}

.text-form-email
{
    text-align: center;
    color: white;
    font-size: 12px;
}

.btn.contact-submit
{
    width: 100%;
}
/*### ERYK ### feature-functions ### Spis planowanych funkcji*/

.main_functions
{
    padding-bottom: 50px;
    background-color: #2D2E32;
    text-align: center;
    padding-top: 50px;
}

.title_function
{
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 40px;
}

.text_function
{
    background-size: cover;
}
/* ### PIOTREK ### feature-footer ### Stopka */

.copyright {
    padding: 3em 0em;
    background: #2D2E32;
}

.copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
    color: whitesmoke;
}


@media screen and (max-width: 991px){
    .btn.contact-submit {
        margin-top: 10px
    }
}