/*### Wspólne style ### */


/*### DOROTA ### feature-navi ### Pasek Nawigacyjny (FIXED) */
header{
    position: fixed;
    width: 100%;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.logo{
    padding: 0;
    margin: 0;
    width: 50px;
}

.navbar-brand{
    height: 100%;
    text-align: center;
    line-height: normal;
    /*margin-left: 10%;*/
}

.navbar-brand > img{
   float: left;
}

/*### DOROTA ### feature-sneakpeak ### Tzw. Zajawka*/


/*### ERYK ### feature-functions ### Spis planowanych funkcji*/


/*### ERYK ### feature-signin ### Zapis na premiera - formularz -*/


/*### PIOTREK ### feature-team ### Informacja o zespole*/


/*### PIOTREK ### feature-product ### Dodatkowe informacje o produkcie */


/* ### PIOTREK ### feature-footer ### Stopka */
