/*### Wspólne style ### */


/*### DOROTA ### feature-navi ### Pasek Nawigacyjny (FIXED) */

    /*color: #4D586A; ciemny*/
    /*color: #2D2E32; najciemniejszy*/
    /*color: #ACAEBA; jasny szary*/
    /*color: #FE0000; czerwony*/


/*### DOROTA ### feature-sneakpeak ### Tzw. Zajawka*/

/*### ERYK ### feature-functions ### Spis planowanych funkcji*/

/*### ERYK ### feature-signin ### Zapis na premiera - formularz -*/

/*### PIOTREK ### feature-team ### Informacja o zespole*/



/*### ERYK ### feature-functions ### Spis planowanych funkcji*/

.Function
{
    padding-bottom: 50px;
    background-color: #2D2E32;
    text-align: center;
    padding-top: 50px;
}

.Title-Function
{
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 40px;
}

.Text-Function
{
    background-size: cover;
}

.fa.fa-headphones,
.fa.fa-toggle-right
{
    font-size: 70px;
}
/* ### PIOTREK ### feature-footer ### Stopka */


